<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tidalscreen.lsposed">

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher">
        
        <!-- Metadatos para identificar este módulo como un módulo Xposed -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        
        <!-- Descripción del módulo -->
        <meta-data
            android:name="xposeddescription"
            android:value="Simula una pantalla física para Tidal en dispositivos sin pantalla" />
        
        <!-- Versión mínima de Xposed requerida -->
        <meta-data
            android:name="xposedminversion"
            android:value="54" />
    </application>

</manifest>

